In [13]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score , confusion_matrix
from sklearn.svm import SVC

In [2]:
os.listdir()

['.ipynb_checkpoints', 'Social_Network_Ads.csv', 'Untitled.ipynb']

In [3]:
df = pd.read_csv("Social_Network_Ads.csv")

In [4]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
df.drop("User ID",axis=1,inplace=True)

In [7]:
df["sex"] = pd.get_dummies(df["Gender"],drop_first=True)

In [9]:
X = df.drop(["Gender","Purchased"],axis=1)
y = df.Purchased

In [14]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=101)

In [ ]:
svm = SVC(kernel="linear")
svm.fit(X_train,y_train)

In [16]:
y_pred = svm.predict(X_test)

In [17]:
accuracy_score(y_pred,y_test)

0.7375

In [18]:
confusion_matrix(y_pred,y_test)

array([[53, 20],
       [ 1,  6]], dtype=int64)