In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os
import seaborn as sbn
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_squared_error
import matplotlib.pyplot as plt

In [2]:
# checking if the dataset is present in our directory
os.listdir()

['.ipynb_checkpoints', '50_Startups.csv', 'multiple regression.ipynb']

In [3]:
#loading the dataset 
data = pd.read_csv('50_Startups.csv')
df = pd.DataFrame(data)

In [4]:
# checking the first five row of the dataset
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [5]:
#separating the dependent and independent column
X = df.drop('Profit',axis=1)
y = df.Profit

In [6]:
# encoding the categorical data like State
X = pd.get_dummies(X)
X.head()

,R&D Spend,Administration,Marketing Spend,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,0,0,1
1,162597.70,151377.59,443898.53,1,0,0
2,153441.51,101145.55,407934.54,0,1,0
3,144372.41,118671.85,383199.62,0,0,1
4,142107.34,91391.77,366168.42,0,1,0

In [7]:
#splitting the dataset into training and testing
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=101)

In [8]:
# model fiting
model= LinearRegression()
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [9]:
#predict the new value of X_test
y_pred = model.predict(X_test)

In [10]:
# Evalution metrics
r2_score(y_pred,y_test)

0.9501301368702335